@model List<Movie>

@{
    ViewData["Title"] = "The Collection";
}

<!-- CSS Styling to make the table look more professional -->
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="bg-secondary text-white">
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Year</th>
                <th>Director</th>
                <th>Rating</th>
                <th>Edited</th>
                <!-- Added some inline CSS to modify column width to eliminate truncation-->
                <th style="width: 72px;">Lent To</th>
                <th style="width: 127px;">Copied to Plex</th>
                <th>Notes</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            <!-- Show the categories from the CategoryId -->
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Title</td>

                    @{
                        bool categoryFound = false;

                        foreach (Category c in ViewBag.Categories)
                        {
                            if (c.CategoryId == m.CategoryId)
                            {
                                categoryFound = true;

                                <td>@c.CategoryName</td>

                                break;
                            }
                        }

                        if (!categoryFound)
                        {
                            <td></td>
                        }
                    }

                    <td>@m.Year</td>
                    <td>@m.Director</td>
                    <td>@m.Rating</td>
                    <td>@(m.Edited == 1 ? "True" : "False")</td> <!-- Show True/False -->
                    <td>@m.LentTo</td>
                    <td>@(m.CopiedToPlex == 1 ? "True" : "False")</td> <!-- Show True/False -->
                    <td>@m.Notes</td>

                    <!-- Add CRUD buttons -->
                    <td>
                        <a class="btn btn-sm btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@m.MovieId">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@m.MovieId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>